body{
    background-image: linear-gradient(to top right, red, white);
    background-size: cover;
}

.satu{
    width: 50%;
    height: 500px;
    margin: auto;
    background-image: radial-gradient(circle at bottom center, white, blue);
}

.dua{
    width: 50%;
    height: 500px;
    margin: auto;
    background-image: linear-gradient(to right, blue,white,blue);
}